body {
    background-color: lemonchiffon;
    font-family: sans-serif;
}

body{
    height: 100%;
}

/*gives flexing properties*/
div.container {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

/* 25% width */
div.sidecol {
    width: 20vw;
}

/* 50% width */
div.maincol {
    width: 100%;
}

textarea {
    width: 90%;
    resize: none;
    height: 50vh;
}

/* data box*/

div.dataBox {
    background-color:palegreen;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
}

/*Specific, Custom Rules*/

#AboutSection{
    text-align: left;
}