body {
    background-color: lemonchiffon;
    font-family: sans-serif;
}

body{
    height: 100%;
}

/*gives flexing properties*/
div.container {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

/* 25% width */
div.sidecol {
    width: 25%;
}

/* 50% width */
div.maincol {
    width: 50%;
}

textarea {
    width: 90%;
    resize: none;
    height: 50vh;
}


/*Specific, Custom Rules*/

#AboutSection{
    text-align: left;
}